In [1]:
# Data manipulation libraries
import pandas as pd
import numpy as np

# Data visualization libraries
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
import seaborn as sns

# Preprocessing libraries
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

# For build pipeline
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline

# Machine learning models
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor


# for plot decision tree
from sklearn import tree

# Model selection libraries
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import RandomizedSearchCV

# importing XGB regressor
from xgboost import XGBRegressor

# Metrics libraries for model evaluation
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("C:\\Users\\Abhishek\\Downloads\\ipl.csv")

In [3]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [4]:
df.tail()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [5]:
df.shape

(76014, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [7]:
df.describe()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
count,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000
mean,308.627740,74.889349,2.415844,9.783068,33.216434,1.120307,24.962283,8.869287,160.901452
std,178.156878,48.823327,2.015207,5.772587,14.914174,1.053343,20.079752,10.795742,29.246231
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000
25%,154.000000,34.000000,1.000000,4.600000,24.000000,0.000000,10.000000,1.000000,142.000000
50%,308.000000,70.000000,2.000000,9.600000,34.000000,1.000000,20.000000,5.000000,162.000000
75%,463.000000,111.000000,4.000000,14.600000,43.000000,2.000000,35.000000,13.000000,181.000000
max,617.000000,263.000000,10.000000,19.600000,113.000000,7.000000,175.000000,109.000000,263.000000

In [8]:
df.duplicated().sum()

0

In [9]:
df.isnull().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

In [10]:
ipl_df=df.copy()

In [11]:
ipl_df.sample(5)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
33251,270,2012-04-23,Sawai Mansingh Stadium,Royal Challengers Bangalore,Rajasthan Royals,TM Dilshan,Pankaj Singh,37,1,5.6,32,1,17,2,189
43811,355,2013-05-01,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Sunrisers Hyderabad,AT Rayudu,I Sharma,89,4,14.6,28,2,6,3,129
51398,418,2014-05-07,Barabati Stadium,Kings XI Punjab,Chennai Super Kings,V Sehwag,BW Hilfenhaus,7,0,0.3,7,0,6,0,231
30268,246,2012-04-08,Sawai Mansingh Stadium,Rajasthan Royals,Kolkata Knight Riders,R Dravid,JH Kallis,1,1,1.3,1,1,1,0,164
34389,279,2012-04-30,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kolkata Knight Riders,SK Raina,JH Kallis,77,3,10.6,29,1,40,1,139

In [12]:
columns_to_remove = ['mid', 'venue', 'batsman', 'bowler', 'striker', 'non-striker']
ipl_df.drop(labels=columns_to_remove, axis=1, inplace=True)

In [13]:
ipl_df.sample(5)

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
20073,2010-04-17,Mumbai Indians,Royal Challengers Bangalore,151,4,16.5,56,3,191
32955,2012-04-21,Pune Warriors,Delhi Daredevils,161,2,17.4,47,1,192
54332,2014-05-24,Royal Challengers Bangalore,Chennai Super Kings,87,3,13.4,42,0,154
7960,2009-04-25,Deccan Chargers,Mumbai Indians,161,6,18.3,32,4,168
58709,2015-04-28,Chennai Super Kings,Kolkata Knight Riders,129,6,19.4,28,1,134

In [14]:
ipl_df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [15]:
# Keeping only consistent teams
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                    'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
                    'Delhi Daredevils', 'Sunrisers Hyderabad']

In [16]:
ipl_df = ipl_df[(ipl_df['bat_team'].isin(consistent_teams)) & (ipl_df['bowl_team'].isin(consistent_teams))]

In [17]:
# Removing the first 5 overs data in every match
ipl_df = ipl_df[ipl_df['overs']>=5.0]

In [18]:
ipl_df['date']= pd.to_datetime(ipl_df['date'])

In [19]:
ipl_df['crr'] =ipl_df['runs']/ipl_df['overs']

In [20]:
# Split the 'overs' column into its integer and decimal parts
overs_int = ipl_df['overs'].apply(lambda x: int(x))
overs_dec = ipl_df['overs'].apply(lambda x: float('0.' + str(x).split('.')[1]))

# Calculate the number of balls left in each over
balls_left = (20 - overs_int - 1) * 6 + (6 - ((overs_dec * 10) % 10 + 1))

# Add the 'balls left' column to the DataFrame
ipl_df['balls_left'] = balls_left.astype(int)

In [21]:
ipl_df['wickets_left'] = 10-ipl_df['wickets']

In [22]:
ipl_df.reset_index(drop=True, inplace=True)

In [23]:
ipl_df

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total,crr,balls_left,wickets_left
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222,11.960784,88,10
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222,11.730769,87,9
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222,11.509434,86,9
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222,11.296296,85,9
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222,11.090909,84,9
...,...,...,...,...,...,...,...,...,...,...,...,...
40103,2017-05-19,Kolkata Knight Riders,Mumbai Indians,106,9,18.1,29,4,107,5.856354,10,1
40104,2017-05-19,Kolkata Knight Riders,Mumbai Indians,107,9,18.2,29,4,107,5.879121,9,1
40105,2017-05-19,Kolkata Knight Riders,Mumbai Indians,107,9,18.3,28,4,107,5.846995,8,1
40106,2017-05-19,Kolkata Knight Riders,Mumbai Indians,107,9,18.4,24,4,107,5.815217,7,1
40107,2017-05-19,Kolkata Knight Riders,Mumbai Indians,107,10,18.5,23,5,107,5.783784,6,0

In [24]:
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40108 entries, 0 to 40107
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            40108 non-null  datetime64[ns]
 1   bat_team        40108 non-null  object
 2   bowl_team       40108 non-null  object
 3   runs            40108 non-null  int64
 4   wickets         40108 non-null  int64
 5   overs           40108 non-null  float64
 6   runs_last_5     40108 non-null  int64
 7   wickets_last_5  40108 non-null  int64
 8   total           40108 non-null  int64
 9   crr             40108 non-null  float64
 10  balls_left      40108 non-null  int32
 11  wickets_left    40108 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(6), object(2)
memory usage: 3.5+ MB

In [25]:
ipl_df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total,crr,balls_left,wickets_left
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222,11.960784,88,10
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222,11.730769,87,9
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222,11.509434,86,9
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222,11.296296,85,9
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222,11.090909,84,9

In [26]:
# Splitting the data into train and test set

X_train = ipl_df.drop(labels='total', axis=1)[ipl_df['date'].dt.year <= 2015]
X_test = ipl_df.drop(labels='total', axis=1)[ipl_df['date'].dt.year >= 2016]
y_train = ipl_df[ipl_df['date'].dt.year <= 2015]['total'].values
y_test = ipl_df[ipl_df['date'].dt.year >= 2016]['total'].values

In [27]:
X = ipl_df.drop(columns=['total'])
y = ipl_df['total']

In [28]:
# calling train_test_split() to get the training and testing data.

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

# split sizes
print(X_train.shape)
print(X_test.shape)

(32086, 11)
(8022, 11)

In [29]:
# Removing the 'date' column

X_train.drop(labels='date', axis=1, inplace=True)
X_test.drop(labels='date', axis=1, inplace=True)

In [30]:
# split sizes
print(X_train.shape)
print(X_test.shape)

(32086, 10)
(8022, 10)

In [31]:
X_train.head()

,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,crr,balls_left,wickets_left
34151,Mumbai Indians,Chennai Super Kings,136,2,15.2,47,2,8.947368,27,8
15132,Mumbai Indians,Rajasthan Royals,164,4,16.6,68,1,9.879518,17,6
13576,Chennai Super Kings,Delhi Daredevils,89,3,12.1,46,1,7.355372,46,7
11954,Rajasthan Royals,Kolkata Knight Riders,124,4,16.4,45,1,7.560976,19,6
2017,Royal Challengers Bangalore,Mumbai Indians,57,3,10.1,22,3,5.643564,58,7

In [32]:
X_test.head()

,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,crr,balls_left,wickets_left
22763,Royal Challengers Bangalore,Kolkata Knight Riders,24,1,6.3,20,1,3.809524,80,9
22840,Royal Challengers Bangalore,Kolkata Knight Riders,111,8,19.2,33,5,5.781250,3,2
12223,Kings XI Punjab,Rajasthan Royals,195,6,19.5,25,4,10.000000,0,4
18423,Chennai Super Kings,Delhi Daredevils,64,0,7.2,45,0,8.888889,75,10
151,Chennai Super Kings,Kings XI Punjab,151,4,14.4,63,1,10.486111,31,6

In [33]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),[0,1])
]
,remainder='passthrough')

In [34]:
pipe1 = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',LinearRegression())
])


# fit the pipeline on training dataset
pipe1.fit(X_train,y_train)

# predict the train and test dataset 
y_pred_train = pipe1.predict(X_train)
y_pred = pipe1.predict(X_test)

# LinearRegression model all output scores
print('\033[1mTraining data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_train,y_pred_train))
print('Adjusted R2 score', (1-(1-r2_score(y_train,y_pred_train))*((X_train.shape[0]-1)/(X_train.shape[0]-X_train.shape[1]-1))))

print('\n')
print('\033[1mTesting data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_test,y_pred))
print('Adjusted R2 score', (1-(1-r2_score(y_test,y_pred))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1))))

print('\n')
print('\033[1mThe performance metrics\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',mean_squared_error(y_test,y_pred))
print('RMSE',np.sqrt(mean_squared_error(y_test,y_pred)))

Training data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.662863468378929
Adjusted R2 score 0.662758359561588


Testing data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.6737092939595827
Adjusted R2 score 0.6733019906191253


The performance metrics
-----------------------------------------
MAE 12.799199355263463
MSE 295.34731536445315
RMSE 17.18567180428083

In [35]:
# apply DecisionTreeRegressor algorithm with hyperparameter tuning

# giving parameters
parameters = {
    'criterion':['squared_error'],                    # 'friedman_mse', 'absolute_error'
    'splitter' :['best'],                             # random
    'max_depth' :[7],                                 # 4,5,6,7,8,9,None
    'max_features' :[1.0]                             # 0.25,0.50,0.75,0.85
}

# we use gridsearchCV because the dataset is not that big
dtr = GridSearchCV(DecisionTreeRegressor(), param_grid=parameters , cv=5, n_jobs=-1)


pipe2 = Pipeline(steps=[
    ('step1',trf),
    ('step3',dtr)
])


# fit the pipeline on training dataset
pipe2.fit(X_train,y_train)

# predict the train and test dataset 
y_pred_train = pipe2.predict(X_train)
y_pred = pipe2.predict(X_test)

# DecisionTreeRegressor model all output scores
print('\033[1mTraining data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_train,y_pred_train))
print('Adjusted R2 score', (1-(1-r2_score(y_train,y_pred_train))*((X_train.shape[0]-1)/(X_train.shape[0]-X_train.shape[1]-1))))

print('\n')
print('\033[1mTesting data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_test,y_pred))
print('Adjusted R2 score', (1-(1-r2_score(y_test,y_pred))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1))))

print('\n')
print('\033[1mCross-validation score and best params\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print("The best parameters is", dtr.best_params_)
print('cross-validation score', dtr.best_score_)

print('\n')
print('\033[1mThe performance metrics\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',mean_squared_error(y_test,y_pred))
print('RMSE',np.sqrt(mean_squared_error(y_test,y_pred)))

Training data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.7163238893459634
Adjusted R2 score 0.7162354478461492


Testing data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.7202948033229086
Adjusted R2 score 0.7199456519102547


Cross-validation score and best params
-----------------------------------------
The best parameters is {'criterion': 'squared_error', 'max_depth': 7, 'max_features': 1.0, 'splitter': 'best'}
cross-validation score 0.6948596240307691


The performance metrics
-----------------------------------------
MAE 11.751554281929305
MSE 253.17968732407738
RMSE 15.911621140665629

In [36]:
# apply RandomForestRegressor algorithm


# giving parameters
parameters = {
    'n_estimators':[100],                        
    'max_features' :['sqrt']                   
}
 
# we use gridsearchCV because the dataset is not that big so we use this not RandomizedSearchCV
rfr = GridSearchCV(RandomForestRegressor(), param_grid=parameters , cv=5, n_jobs=-1)

pipe4 = Pipeline(steps=[
    ('step1',trf),
    ('step3',rfr)
])

# fit the pipeline on training dataset
pipe4.fit(X_train,y_train)

# predict the train and test dataset 
y_pred_train = pipe4.predict(X_train)
y_pred = pipe4.predict(X_test)

# RandomForestRegressor model all output scores
print('\033[1mTraining data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_train,y_pred_train))
print('Adjusted R2 score', (1-(1-r2_score(y_train,y_pred_train))*((X_train.shape[0]-1)/(X_train.shape[0]-X_train.shape[1]-1))))

print('\n')
print('\033[1mTesting data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_test,y_pred))
print('Adjusted R2 score', (1-(1-r2_score(y_test,y_pred))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1))))

print('\n')
print('\033[1mCross-validation score and best params\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print("The best parameters is", rfr.best_params_)
print('cross-validation score', rfr.best_score_)

print('\n')
print('\033[1mThe performance metrics\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',mean_squared_error(y_test,y_pred))
print('RMSE',np.sqrt(mean_squared_error(y_test,y_pred)))

Training data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.9904824809132441
Adjusted R2 score 0.990479513643069


Testing data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.9386965201283461
Adjusted R2 score 0.9386199959991842


Cross-validation score and best params
-----------------------------------------
The best parameters is {'max_features': 'sqrt', 'n_estimators': 100}
cross-validation score 0.9216667664774301


The performance metrics
-----------------------------------------
MAE 4.490991683584428
MSE 55.4898373364916
RMSE 7.449150108333943

In [37]:
# apply XGBRegressor algorithm


# giving parameters
parameters = {
    'max_depth' :[6]                                                         
}
 
# we use gridsearchCV because the dataset is not that big so we use this not RandomizedSearchCV
xgbr = GridSearchCV(XGBRegressor(objective='reg:squarederror'), param_grid=parameters , cv=5, n_jobs=-1)

pipe5 = Pipeline(steps=[
    ('step1',trf),
    ('step3',xgbr)
])

# fit the pipeline on training dataset
pipe5.fit(X_train,y_train)

# predict the train and test dataset 
y_pred_train = pipe5.predict(X_train)
y_pred = pipe5.predict(X_test)

# GradientBoostingRegressor model all output scores
print('\033[1mTraining data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_train,y_pred_train))
print('Adjusted R2 score', (1-(1-r2_score(y_train,y_pred_train))*((X_train.shape[0]-1)/(X_train.shape[0]-X_train.shape[1]-1))))

print('\n')
print('\033[1mTesting data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_test,y_pred))
print('Adjusted R2 score', (1-(1-r2_score(y_test,y_pred))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1))))

print('\n')
print('\033[1mCross-validation score and best params\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print("The best parameters is", xgbr.best_params_)
print('cross-validation score', xgbr.best_score_)

print('\n')
print('\033[1mThe performance metrics\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',mean_squared_error(y_test,y_pred))
print('RMSE',np.sqrt(mean_squared_error(y_test,y_pred)))

Training data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.9036727065228733
Adjusted R2 score 0.9036426746309085


Testing data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.8727806979592317
Adjusted R2 score 0.8726218921896141


Cross-validation score and best params
-----------------------------------------
The best parameters is {'max_depth': 6}
cross-validation score 0.8580699339788701


The performance metrics
-----------------------------------------
MAE 7.542010053617049
MSE 115.15461097940731
RMSE 10.731011647529197

In [38]:
# apply GradientBoostingRegressor algorithm with hyperparameter tuning as step2


# giving parameters
parameters = {
    'n_estimators' :[100],                                     
    'learning_rate' :[0.1],                                       
    'max_depth' : [3]                                                          
}
 
# we use gridsearchCV because the dataset is not that big so we use this not RandomizedSearchCV
gbr = GridSearchCV(GradientBoostingRegressor(), param_grid=parameters , cv=5, n_jobs=-1)

pipe6 = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',gbr)
])

# fit the pipeline on training dataset
pipe6.fit(X_train,y_train)

# predict the train and test dataset 
y_pred_train = pipe6.predict(X_train)
y_pred = pipe6.predict(X_test)

# GradientBoostingRegressor model all output scores
print('\033[1mTraining data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_train,y_pred_train))
print('Adjusted R2 score', (1-(1-r2_score(y_train,y_pred_train))*((X_train.shape[0]-1)/(X_train.shape[0]-X_train.shape[1]-1))))

print('\n')
print('\033[1mTesting data R2 and Adjusted R2 Score\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('R2 score',r2_score(y_test,y_pred))
print('Adjusted R2 score', (1-(1-r2_score(y_test,y_pred))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1))))

print('\n')
print('\033[1mCross-validation score and best params\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print("The best parameters is", gbr.best_params_)
print('cross-validation score', gbr.best_score_)

print('\n')
print('\033[1mThe performance metrics\033[0m')
print('\033[1m' + '-----------------------------------------' + '\033[0m')
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',mean_squared_error(y_test,y_pred))
print('RMSE',np.sqrt(mean_squared_error(y_test,y_pred)))

Training data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.7240368749171924
Adjusted R2 score 0.7239508380894191


Testing data R2 and Adjusted R2 Score
-----------------------------------------
R2 score 0.727259561098648
Adjusted R2 score 0.7269191036789733


Cross-validation score and best params
-----------------------------------------
The best parameters is {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 100}
cross-validation score 0.7177077124108181


The performance metrics
-----------------------------------------
MAE 11.568838329829196
MSE 246.87542406083406
RMSE 15.712269857052293

In [42]:
import pickle

pickle.dump(pipe5,open('pipe.pkl','wb'))